{% extends 'layouts/default.twig' %}
{% set head_title = 'Index' %}
{% set body_class = 'index' %}

{% block page %}

	<section>
		<div class="demo" data-aos="fade-up">
			<h1 class="demo-title">
				Project Name Coy <i class="fas fa-camera"></i>
			</h1>
			<p class="demo-subtitle">
				This is the demo index page with basic styles for listing all of your pages.
				<br>
				Tip: can be useful when showing the site preview to a client.
			</p>
			<ul class="demo-list">
				<li>
					<a href="page.html">Sample Page</a>
				</li>
				<li>
					<a href="demo.html">Demo</a>
				</li>
			</ul>
		</div>

		<div class="demo" data-aos="fade-up">
			<h1 class="demo-title">
				Project Name Coy
			</h1>
			<p class="demo-subtitle">
				This is the demo index page with basic styles for listing all of your pages.
				<br>
				Tip: can be useful when showing the site preview to a client.
			</p>
			<ul class="demo-list">
				<li>
					<a href="page.html">Sample Page</a>
				</li>
				<li>
					<a href="demo.html">Demo</a>
				</li>
			</ul>
		</div>

		<div class="demo" data-aos="fade-up">
			<h1 class="demo-title">
				Project Name Coy
			</h1>
			<p class="demo-subtitle">
				This is the demo index page with basic styles for listing all of your pages.
				<br>
				Tip: can be useful when showing the site preview to a client.
			</p>
			<ul class="demo-list">
				<li>
					<a href="page.html">Sample Page</a>
				</li>
				<li>
					<a href="demo.html">Demo</a>
				</li>
			</ul>
		</div>

		<div class="demo" data-aos="fade-up">
			<h1 class="demo-title">
				Project Name Coy
			</h1>
			<p class="demo-subtitle">
				This is the demo index page with basic styles for listing all of your pages.
				<br>
				Tip: can be useful when showing the site preview to a client.
			</p>
			<ul class="demo-list">
				<li>
					<a href="page.html">Sample Page</a>
				</li>
				<li>
					<a href="demo.html">Demo</a>
				</li>
			</ul>
		</div>

		<div class="demo" data-aos="fade-up">
			<h1 class="demo-title">
				Project Name Coy
			</h1>
			<p class="demo-subtitle">
				This is the demo index page with basic styles for listing all of your pages.
				<br>
				Tip: can be useful when showing the site preview to a client.
			</p>
			<ul class="demo-list">
				<li>
					<a href="page.html">Sample Page</a>
				</li>
				<li>
					<a href="demo.html">Demo</a>
				</li>
			</ul>
		</div>
	</section>

{% endblock %}
